body{
  background-color: white;
}
#logo {
  position: absolute;
  top: 10px;
  margin-left: 80%;
  height: 70%;
}
#wrapper {
  position: absolute;
  border: 0px solid #2E3092;
  top: 80px;
  left: 0px;
  width: 100%;
  margin-top: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
}

#headBar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFFFFF;
}
