//***
* Created by Khoi Le and Nikolai Flowers, March 29, 2016
*//
@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("VeraSeBd.ttf") format("truetype");
    }
    
@font-face {
font-family: 'bebas_neueregular';
src: url('fonts/bebasneue-webfont.eot');
src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/bebasneue-webfont.woff2') format('woff2'),
   url('fonts/bebasneue-webfont.woff') format('woff'),
   url('fonts/bebasneue-webfont.ttf') format('truetype'),
   url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
font-weight: normal;
font-style: normal;
}

body{
  background-color: white;
  font-family: 'bebas_neueregular';
}
h1 {
  padding-left: 10px;
  color: black;
  font-family: 'bebas_neueregular';
}
#logo {
  position: absolute;
  top: 10px;
  margin-left: 85%;
  height: 70%;
}
#wrapper {
  position: absolute;
  border: 0px solid #2E3092;
  top: 80px;
  left: 0px;
  width: 100%;
  margin-top: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
}

#headBar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFFFFF;
}
