@font-face {
    font-family: 'roboto_condensed';
    src: url('fonts/Roboto Condensed/RobotoCondensed-Regular.eot');
    src: url('fonts/Roboto Condensed/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto Condensed/RobotoCondensed-Regular.woff2') format('woff2'),
         url('fonts/Roboto Condensed/RobotoCondensed-Regular.woff') format('woff'),
         url('fonts/Roboto Condensed/RobotoCondensed-Regular.ttf') format('truetype'),
         url('fonts/Roboto Condensed/RobotoCondensed-Regular.svg#modern_serif_erodedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
  height: 100%;
}
body{
  background: #131313;
  height: 100%;
}
@keyframes bob{
  0%{top: 3px;}
  25%{top: 6px;}
  50%{top: 9px;}
  75%{top: 6px;}
  100%{top: 3px;}
}
#centerLogo{
  width: 47%;
}
#page1{
  float: none;
  display: block;
  position: relative;
  height: 100%;
  border: 1px dotted rgba(0,0,0,0.01);
}
#page2{
  position: relative;
  left: -10px;
  background-color: #2D2D2D;
  height: 100%;
  width: 100.7%;
  border: 1px dotted rgba(0,0,0,0.01);
}
#tophalf2{
  position: relative;
  height: 48%;
  background-color: #2F2F2F;
  /*border: 2px solid blue;*/
}
#page3{
  height: 100%;
  /*border: 2px solid white;*/
}
#mainTitle{
  font-size: 4.8em;
  text-shadow: 2px 2px 5px #5E5E5E;
}
.trifoldIcon{
  width: 60%;
}
.sectionHeaderBox{
  position: relative;
  text-align: center;
}
.sectionHeader{
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 5em;
  text-shadow: 2px 2px 5px #1D1D1D;
}
.sectionSubTitle{
  padding-left: 20px;
  padding-top: 0px;
  font-size: 1.8em;
}
.subSection{
  text-align: center;
}
.trifold{
  float: left;
  width: 25%;
  margin-left: 6%;
  text-align: center;
  /*border: 1px solid green;*/
}
.halfBox{
  float: left;
  width: 40%;
  margin-left: 6%;
}
.wideBar{
  background-color: #0A99D5;
  border: 1px solid white;
  height: 20px;
}
.moveDownIcon{
  clear: left;
  display: block;
  position: relative;
  height: 80px;
  left: 48%;
  margin-top: 10%;
}
h1{
  color: #0A99D5;
  font-size: 4.3em;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  /*border: 1px solid white;*/
}
h2{
  position: relative;
  top: -40px;
  color: white;
  font-size: 2.0em;
  font-family: 'Roboto', sans-serif;
  /*border: 1px solid white;*/
}
#subTitle{
  font-size: 2.2em;
}
h3{
  color: white;
  font-size: 2.0em;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
h4{
  color: lightgray;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
hr{
  border: 0;
  height: 2px;
  background: #FFC4CE;
  background-image: linear-gradient(to right, #0A99D5, #000);
}
#mainSplit{
  position: relative;
  top: -60px;
}
#centerBox{
  position: relative;
  margin-left: 27%;
  margin-top: 10%;
  width: 40%;
  height: 50%;
  /*border: 1px solid white;*/
}
#logoContainer{
  position: relative;
  /*animation-name: bob;*/
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#textContainer{
  position: absolute;
  top: 40px;
  left: 320px;
  width: 400px;
  /*border: 1px solid white;*/
}
#linkBar{
  position: relative;
  top: -60px;
}
a{
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  color: lightgray;
  text-decoration: none;
  transition: color 0.3s;
  /*border: 1px solid blue;*/
}
a:hover, a.hover{
  color: #0A99D5;
}
.navLink{
  font-size: 1.8em;
}
