html{
  height: 100%;
}
body{
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#header{
  background-color: rgba(250,23,62,1);
  font-family: "Roboto", sans-serif;
}
#pageTitle{
  text-shadow: none;
}
.tritonDots{

}
img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
td{
  padding-right: 10px;
}
#imgContainer{
  max-height: 40%;
}
#image1{
  max-height: 220px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
table{
  font-family: "Roboto", sans-serif;
}
h1{
  font-family: "Roboto Condensed", sans-serif;
}
h2{
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 1px;
}
h3{
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
p{
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}
.slide:focus{
  outline: none;
  /*border: 1px solid black;*/
  /*padding-bottom: -5px;*/
  /*box-shadow: 1px 1px 2px rgba(100,100,100,0.2);*/
}
.imageLink{
  width: 100%;

}
.linkBanner{
  position: absolute;
  float: left;
  margin: 0;
  padding: 0px;
  z-index: 2;
  height: 80px;
  width: 100%;
  background-color: rgba(250,23,62,0.8);
  text-decoration: none;
  color: black;
}
.linkCode{
  position: relative;
  top: 20px;
  left: 20px;
  text-shadow: none;
  text-decoration: none;
  font-size: 12px;
}
.linkTitle{
  position: relative;
  top: -30px;
  text-align: right;
  padding-right: 20px;
  text-shadow: none;
  text-decoration: none;
  z-index: 1;
  font-size: 20px;
}
.exhibitLink{
  /*border: 1px solid green;*/
  position: static;
  float: left;
  margin: 0;
  padding: 0px;
  width: 100%;
}
#mainHome{
  overflow-y: hidden;
}
