html{
  height: 100%;
  overflow-x: hidden;
}
body{
  font-family: "Roboto", sans-serif;
  /*height: 100%;*/
  max-width: 100%:
  overflow: hidden;
  /*background-color: blue;*/
}
#newContent{
  width: 100vw;
  height: 500px;
}
#header{
  background-color: rgba(250,23,62,1);
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 2px 3px rgba(100,100,100,0.5);
  border: none;
  font-size: 18px;
  z-index: 6;
}
#pageTitle{
  text-shadow: none;
}
.tritonDots{

}
img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
td{
  padding-right: 10px;
}
#linkToEnter{
}
#fullPageBoundingBox {
  width: 100vw;
  height: 100vh;
}
#clickToEnter{
  width: 100vw;
  height: 100vh;
}
.homeButtons img{
  width: 98vw;
}
#museumFront{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
#navBar{
  position: fixed;
  height: 50px;
  width: 100vw;
  background-color: rgba(187, 195, 204, 0.01);
  /*box-shadow: 0px 2px 3px rgba(100,100,100,0.5);*/
  text-align: center;
  z-index: 2;
}
#logoContainer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*border: 1px solid blue;*/
  z-index: -2;
  width: 100%;
  height: 50px;
}
#navBarLogo{
  position: relative;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  top: 8px;
}
#aboutTriton{
  width: 100%;
}
.centerTextBox {
  /*position: absolute;*/
  background-color: white;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  width: 90%;
  margin-left: 6%;
  margin-top: 20%;
  padding: 10px;
}
#videoPlayer{
  /*width: 70vw;*/
  max-height: 120px;
}
#exhibitAudioPlayer{
  width: 90%;
}
#headerTitle{
  /*font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  color: black;*/
}
#backButton{
  float: left;
  font-size: 40px;
  padding-left: 15px;
  padding-top: 4px;
  color: black;
}
#sidebarButton{
  margin-left: 10px;
  float: left;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 4px;
  color: black;
}

#keypadButton{
  float: right;
  font-size: 40px;
  padding-right: 30px;
  padding-top: 4px;
  color: black;
}
#keypadButton:active, #sidebarButton:active, #headerTitle:active{
  color: white;
}
#main{
  position: absolute;
  top: 0px;
  /*border: 5px solid white;*/
  /*height: 100vh;*/
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 50px;
  left: 0;
  background-color: rgba(20,20,20,0.95);
  overflow-x: hidden;
  padding-top: 60%;
  transition: 0.5s;
}
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-height: 450px){
  .keypad {padding-top: 15px;}
  .keypad a {font-size: 18px;}
}
#viewportContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 10px solid blue;
}
.keypad {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 50px;
  right: 0;
  background-color: rgba(20,20,20,0.8);
  overflow-x: hidden;
  padding-top: 30%;
  transition: 0.5s;
}
.keypad p{
  padding: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.keypad a{
  margin-left: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: block;
  transition: 0.3s;
}
.keypad input{
  color: #222;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  font-size: 24px;
  height: 36px;
  border-radius: 3px;
}
.keypad button{
  position: relative;
  top: -5px;
  height: 36px;
}
.keypad a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
.keypad .closebtn1 {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-right: 80px;
}
#imgContainer{
  max-height: 40%;
  width: 100vw;
  /*border: 5px solid green;*/
}
#image1Box{
  position: relative;
  /*border: 1px solid green;*/
  height: 100%;
}
#image1{
  position: absolute;
  max-width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  /*height: 75%;*/
  /*-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;*/
}
#imageSlide{
  /*background-color: rgba(30, 30, 30, 0.8);*/
}
table{
  font-family: "Roboto", sans-serif;
}
h1{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
}
h2{
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 1px;
  padding-bottom: 10px;
  font-size: 20px;
}
h3{
  font-family: "Roboto", sans-serif;
  /*line-height: 22px;*/
}
p{
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}
.textCenter{
  /*padding-top: 40px;*/
}
.slide{
  width: 100vw;
  border: none;
  /*border: 1px solid rgba(250,250,250,0.3);*/
  height: 80vh;
  /*border-style: solid none solid none;*/
  text-align: center;
}
.slide:focus{
  outline: none;
  padding-left: 10px;
  /*border: 1px solid black;*/
  /*padding-bottom: -5px;*/
  /*box-shadow: 1px 1px 2px rgba(100,100,100,0.2);*/
}
.slide h3{
  font-size: 18px;
}
#slider{
  padding-top: 5px;
  height: 85vh;
  /*border: 1px solid black;*/
}
#slider:focus{
  outline: none;

}
#slider h1, #slider h3, #slider td{
  padding-left: 20px;
  padding-right: 20px;
}
#showComment{
  background-color: white;
  width: 50%;
  height: 40px;
  /*font-size: 24px;*/
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  border: 1px solid rgba(200,200,200,0.3);
  box-shadow: none;
}
#showComment:focus{
  outline: none;
}
#addCommentBtn {
  width: 49.5%;
  float: left;
  height: 40px;
  background-color: white;
  border: 1px solid rgba(200,200,200,0.3);
  z-index: 5;
  /*display: block;
  margin-left: 100px;*/
}
#name, #comment{
  font-family: "Roboto", sans-serif;
}
.imageLink{
  position: relative;
  top: -30%;
  /*left: -50%;*/
  width: 100vw;
  /*object-fit: cover;*/
}
.linkBanner{ /* Containter */
  position: absolute;
  bottom: 0px;
  float: left;
  margin: 0;
  padding: 0px;
  z-index: 1;
  height: 50px;
  background-color: rgba(250,23,62,0.8);
  width: 100vw;
  text-decoration: none;
  color: black;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.linkTitle{
  /*position: relative;*/
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  z-index: 1;
  font-size: 16px;
  margin: 10px;

}

.linkCode{
  position: relative;
  top: -5px;
  left: 10px;
  text-shadow: none;
  text-decoration: none;
  font-size: 12px;
  overflow: hidden;
}


.exhibitLink{
  /*border: 1px solid green;*/
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0px;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}
#mainHome{
  overflow-y: hidden;
}
#navPage{
  width: 100%;
  position: static;
}
#navPageContainer{
  border: none;
  width: auto;
  /*height: auto;*/
}
#boundingBox{
  position: absolute;
  left: 0;
  top: 7%;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;
  text-align: center;
}
#topbox{
  background-color: rgba(240, 240, 240, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttonLink{
  padding: 0;
}
.inBox{
  border: 1px solid rgba(100,100,100,0.8);
  width: 80%;
  margin-top: 7px;
  margin-bottom: 10px;
}
#bottomLine{
  margin-top: 20px;
  margin-bottom: 17px;
}
#footerBox{
  position: relative;
  /*top: 63%;*/
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}
#infoButton{
  position: relative;
  width: 80%;
  top: 5%;
  /*left: 10%;*/
}
#logoHome{
  width: 98%;
}
#newsLetterForm{
  padding-top: 8px;
  width: 100%;
}
#emailInput{
  font-size: 12px;
  width: 70%;
  height: 24px;
}
#newsletterButton{
  position: relative;
  top: 2px;
  background-color: white;
  border: 2px solid rgba(100,100,100,0.4);
  height: 24px;
}
#permanent{
  position: relative;
  /*left: 6.45%;*/
  top: 31%;
  width: 90%;
  padding-bottom: 1px;
  /*height: 40px;*/
  border: none;
}
#cowell{
  position: relative;
  /*left: 6.45%;*/
  top: 43%;
  width: 90%;
  /*height: 40px;*/
  border: none;
}
#warburton{
  position: relative;
  /*left: 6.45%;*/
  top: 37%;
  width: 90%;
  /*height: 40px;*/
  border: none;
}
#rotunda{
  position: relative;
  /*left: 6.45%;*/
  top: 49%;
  width: 90%;
  /*height: 40px;*/
  border: none;
  padding-bottom: 1px;
}
#sculpture{
  position: relative;
  /*left: 6.45%;*/
  top: 55%;
  width: 90%;
  /*height: 40px;*/
  border: none;
  padding-bottom: 1px;
}
#jbhouse{
  position: relative;
  /*left: 6.45%;*/
  top: 61%;
  width: 90%;
  /*height: 40px;*/
  border: none;
}

.padding{
  padding-left: 10px;
  padding-right: 10px;
}
.centered{
  display: block;
  margin: 0 auto;
}
