html{
  max-height: 100%;
  overflow-y: hidden;
  width: auto;
}
body{
  /*max-width: 100%;*/
  width: auto;
}
img{
  position: relative;
  max-height: 100%;

  z-index: 0;
}
#mainContent {
  /*//position:fixed !important;*/
  position: absolute;
  top:0;
  bottom:0;
  left: -5px;
  border: 10px solid green;
  white-space: nowrap;
  display: inline-block;
}
button {
  z-index: 2;
  position: absolute;
}
#cowell {
  left: 15.9%;
  top: 39.3%;
}
#rotunda {
  left: 21.3%;
  top: 32%;
}
#sculpture {
  left: 29.1%;
  top: 51.1%;
}
#warburton {
  left: 34.4%;
  top: 32.7%;
}
#permanent {
  left: 45.6%;
  top: 35.2%;
}
