html{
  max-height: 100%;
  overflow-y: hidden;
  width: auto;
}
body{
  /*max-width: 100%;*/
  width: auto;
}
img{
  height: 100%;
}
#mainContent {
  /*//position:fixed !important;*/
  position:absolute;
  width: auto;
  top:0;
  bottom:0;
  left: -10px;
}
button {
  z-index: 1;
}
#cowell {
  position: absolute;
  top: 200px;
  left: 100px;
}
