html{
  max-height: 100vh;
  overflow: hidden;
  /*width: auto;*/
}
body{
  height: 100%;
  /*max-width: 100%;*/
  /*max-width: 100%;*/
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}
#backgroundImage{
  position: relative;
  height: 100%;
  z-index: 0;
}
#mainContent {
  /*//position:fixed !important;*/
  position: absolute;
  top:0;
  /*bottom:0;*/
  left: 0;
  /*border: 10px solid green;*/
  white-space: nowrap;
  display: inline-block;
  height: 100%;
}
button {
  z-index: 2;
  position: absolute;
  height: 10%;
}
a {
  z-index: 2;
  position: absolute;
  height: 10%;
  /*border: 5px solid white;*/
}
a img{
  height: 100%;
}
#cowell {
  left: 30.9%;
  top: 42.5%;
}
#rotunda {
  left: 41.4%;
  top: 30%;
}
#sculpture {
  left: 56.4%;
  top: 51.1%;
}
#warburton {
  left: 69.8%;
  top: 34.7%;
}
#permanent {
  left: 86.7%;
  top: 35.2%;
}
