.pano html{
  max-height: 100vh;
  overflow: hidden;
  /*width: auto;*/
}
.pano body{
  height: 100%;
  /*max-width: 100%;*/
  /*max-width: 100%;*/
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}
.pano #backgroundImage{
  position: relative;
  height: 100%;
  z-index: 0;
}
#mainContent {
  /*//position:fixed !important;*/
  position: absolute;
  top:0;
  /*bottom:0;*/
  left: 0;
  /*border: 10px solid green;*/
  white-space: nowrap;
  display: inline-block;
  height: 100%;
}
.pano button {
  z-index: 2;
  position: absolute;
  height: 10%;
}
.pano a {
  z-index: 2;
  position: absolute;
  height: 10%;
  /*border: 5px solid white;*/
}
.pano a img{
  height: 100%;
}
.pano #cowell {
  left: 30.9%;
  top: 42.5%;
}
.pano #rotunda {
  left: 41.4%;
  top: 30%;
}
.pano #sculpture {
  left: 56.4%;
  top: 51.1%;
}
.pano #warburton {
  left: 69.8%;
  top: 34.7%;
}
.pano #permanent {
  left: 86.7%;
  top: 35.2%;
}
#triton {
  position: fixed;
  /*display: block;*/
  height: 80px;
  /*width: 100vw;*/
  top: 80vh;
  left: 24vw;
  /*top: 400px;
  left: 24%;*/
  /*border: 10px solid blue;*/
  z-index: 4;
  width: auto;
  text-align: center;
  background-color: rgba(100,100,100,0.1);
}
