html{
  height: 100%;
  overflow-x: hidden;
}
body{
  font-family: "Roboto", sans-serif;
  height: 100%;
  max-width: 100%:
  overflow: hidden;
  background-color: blue;
}
#newContent{
  width: 100vw;
}
#header{
  background-color: rgba(250,23,62,1);
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 2px 3px rgba(100,100,100,0.5);
  border: none;
  font-size: 18px;
  z-index: 6;
}
#pageTitle{
  text-shadow: none;
}
.tritonDots{

}
img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
td{
  padding-right: 10px;
}
#navBar{
  position: fixed;
  height: 50px;
  width: 100vw;
  background-color: rgba(250,23,62,0.9);
  box-shadow: 0px 2px 3px rgba(100,100,100,0.5);
  text-align: center;
  z-index: 2;
}
#headerTitle{
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}
#backButton{
  float: left;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 4px;
  color: black;
}
#sidebarButton{
  margin-left: 10px;
  float: left;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 4px;
  color: black;
}

#keypadButton{
  float: right;
  font-size: 40px;
  padding-right: 30px;
  padding-top: 4px;
  color: black;
}
#keypadButton:active, #sidebarButton:active, #headerTitle:active{
  color: white;
}
#main{
  position: absolute;
  top: 50px;
  height: 100vh;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 50px;
  left: 0;
  background-color: rgba(20,20,20,0.95);
  overflow-x: hidden;
  padding-top: 60%;
  transition: 0.5s;
}
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-height: 450px){
  .keypad {padding-top: 15px;}
  .keypad a {font-size: 18px;}
}
#viewportContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 10px solid blue;
}
.keypad {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 50px;
  right: 0;
  background-color: rgba(20,20,20,0.95);
  overflow-x: hidden;
  padding-top: 60%;
  transition: 0.5s;
}
.keypad a{
  margin-left: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
}
.keypad input{
  color: #222;
  width: 60%;
  margin-left: 40px;
  font-size: 24px;
}
.keypad a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
.keypad .closebtn1 {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}
#imgContainer{
  max-height: 40%;
  width: 100vw;
  /*border: 5px solid green;*/
}
#image1{
  /*border: 5px solid blue;*/
  max-height: 220px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
table{
  font-family: "Roboto", sans-serif;
}
h1{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
}
h2{
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 1px;
  padding-bottom: 10px;
  font-size: 20px;
}
h3{
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
p{
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}
.textCenter{
  /*padding-top: 40px;*/
}
.slide{
  min-height: 200px;
  border: 1px solid rgba(250,250,250,0.3);
  border-style: solid none solid none;
}
.slide:focus{
  outline: none;
  padding-left: 10px;
  /*border: 1px solid black;*/
  /*padding-bottom: -5px;*/
  /*box-shadow: 1px 1px 2px rgba(100,100,100,0.2);*/
}

#slider{
  padding-top: 10px;
  /*border: 1px solid black;*/
}
#slider:focus{
  outline: none;

}
#slider h1, #slider h3, #slider td{
  padding-left: 20px;
  padding-right: 20px;
}
#slider h3 {
  font-size: .9em
}
#showComment{
  background-color: white;
  width: 100%;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  border: 1px solid rgba(200,200,200,0.3);
  box-shadow: none;
}
#showComment:focus{
  outline: none;
}
#addComment {
  /*display: block;
  margin-left: 100px;*/
}
#name, #comment{
  font-family: "Roboto", sans-serif;
}
.imageLink{
  width: 100vw;
}
.linkBanner{
  position: absolute;
  display: block;
  bottom: 0px;
  float: left;
  margin: 0;
  padding: 0px;
  z-index: 1;
  height: 50px;
  width: 100vw;
  background-color: rgba(250,23,62,0.8);
  text-decoration: none;
  color: black;
}
.linkCode{
  position: relative;
  top: -5px;
  left: 10px;
  text-shadow: none;
  text-decoration: none;
  font-size: 12px;
  overflow: hidden;
}
.linkTitle{
  position: relative;
  top: -45px;
  text-align: center;
  right: 20px;
  text-shadow: none;
  text-decoration: none;
  z-index: 1;
  font-size: 16px;
  overflow: hidden;
}
.exhibitLink{
  /*border: 1px solid green;*/
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0px;
  width: 100vw;
  overflow: hidden;
}
#mainHome{
  overflow-y: hidden;
}
.padding{
  padding-left: 10px;
  padding-right: 10px;
}
.centered{
  display: block;
  margin: 0 auto;
}
