//***
* Created by Khoi Le and Nikolai Flowers, March 29, 2016
*//
@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("VeraSeBd.ttf") format("truetype");
    }

@font-face {
font-family: 'bebas_neueregular';
src: url('fonts/Bebas Neue/bebasneue-webfont.eot');
src: url('fonts/Bebas Neue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/Bebas Neue/bebasneue-webfont.woff2') format('woff2'),
   url('fonts/Bebas Neue/bebasneue-webfont.woff') format('woff'),
   url('fonts/Bebas Neue/bebasneue-webfont.ttf') format('truetype'),
   url('fonts/Bebas Neue/bebasneue-webfont.svg#bebas_neueregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'modern_serif_erodedregular';
    src: url('fonts/modern_serif_eroded-webfont.eot');
    src: url('fonts/modern_serif_eroded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modern_serif_eroded-webfont.woff2') format('woff2'),
         url('fonts/modern_serif_eroded-webfont.woff') format('woff'),
         url('fonts/modern_serif_eroded-webfont.ttf') format('truetype'),
         url('fonts/modern_serif_eroded-webfont.svg#modern_serif_erodedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#specialCode, textarea{
  border: 0px solid #C9E8FF;
  box-shadow: 0 0 5px 3px #C9E8FF;
  color: #000000;
  font-size: 24px;
  text-align: center;
}
header{
  font-size: 36px;
}
input{
  font-size: 24px;
  font-family: 'Trebuchet MS', sans-serif;
}
#comment{
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}
#comments{
  font-family: 'Trebuchet MS', sans-serif;
  margin: auto;
  font-size: 20px;
  width: 60%;
  text-align: center;
}
#commentText{
  font-family: 'Trebuchet MS', sans-serif;
  background-color: lightgrey;
}
.comment-box{
  //position: absolute;
  margin: auto;
}
button{
  font-family: 'bebas_neueregular', serif;
  font-size: 16px;
}
body{
  background-color: white;
  font-family: 'bebas_neueregular', serif;
}
h1 {
  padding-left: 10px;
  color: black;
  font-family: 'bebas_neueregular', serif;
}

p{
      padding-top: 5px;
      padding-left: 5%;
      padding-right: 5%;
}
#exhibitAudio{
  margin-left: auto;
  margin-right: auto;
}
hr {
    border: 0;
    height: 3px;
    background: #FFC4CE;
    background-image: linear-gradient(to right, #FFFFFF, #FFC4CE, #FFFFFF);
}
#commentContainer{
    margin: auto;
}
h3{
  font-size: 16px;
}
h4{
  font-size: 20px;
  text-align: center;
}

a{
      color: #0075CF;
}
a:visited{
      color: #FFC4CE;
}
.centeredList{
      width: 80%;
      margin:0 auto;
      text-align: left;
}
#logo {
  position: absolute;
  top: 10px;
  margin-left: 80%;
  height: 70%;
}
#logoPageCreator {
  position: absolute;
  top: 10px;
  margin-left: 90%;
  height: 70%;
}
#wrapper {
  position: absolute;
  border: 0px solid #FFC4CE;
  top: 80px;
  left: 0px;
  width: 100%;
  margin-top: 0;
  margin: 0 auto;
  text-align: center;
  background: -webkit-linear-gradient(#FFF8E8, #FFFFFF);
}

#headBar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #C9E8FF;
}

table{
  table-layout: fixed;
}
td{
  width: 30%;
}
