html{
  height: 100%;
}
body{
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#header{
  background-color: rgba(250,23,62,1);
  font-family: "Roboto", sans-serif;
}
#pageTitle{
  text-shadow: none;
}
.tritonDots{

}
img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
#imgContainer{
  max-height: 40%;
}
#image1{
  max-height: 200px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
h1{
  font-family: "Roboto Condensed", sans-serif;
}
h2{
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 1px;
}
h3{
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
p{
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}
.slide{
  /*border: 1px solid black;*/
  /*padding-bottom: -5px;*/
  /*box-shadow: 1px 1px 2px rgba(100,100,100,0.2);*/
}
