<!DOCTYPE HTML>
<html>
<head>
  <!-- created by Khoi Le 2016 !-->
  <title> Comment Moderator </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/tritonExploreCSS.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="../images/tritonIconSmall.png">
  <script src="../scripts/secret.js"> </script> <!--delete or replace with your own key !-->
  <script src="../scripts/config.js"> </script>
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
  <body>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: CONFIG.FB_KEY,
        authDomain: "lunaspheretriton.firebaseapp.com",
        databaseURL: "https://lunaspheretriton.firebaseio.com",
        storageBucket: "lunaspheretriton.appspot.com",
      };
      firebase.initializeApp(config);
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {

        } else {
          //return;
          console.log("NO ONE SIGNED IN");
          window.open("databaseLogin.html", "_self");
        }
      });
    var url = "https://lunaspheretriton.firebaseio.com";
      var firebaseRef = firebase.database();

      function checkUser(){
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            firebase.auth().signOut().then(function(){
              console.log("signed out");
            }, function(error){
              console.log("error signing out");
            });
          } else {
            //return;
            console.log('please sign in');
          }
        });
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var resultDisplay = document.getElementById("result");
        firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
          var errorCode = error.code;
          var errorMessage = error.message;
          console.log(errorCode + " " + errorMessage);
          if(error.code === "auth/wrong-password"){
            resultDisplay.textContent = "Sorry, that password is incorrect";
          }
          if(error.code === "auth/user-not-found"){
            resultDisplay.textContent = "Sorry, that username is incorrect";
          }
          if(error.code === "auth/invalid-email"){
            resultDisplay.textContent = "Sorry, that is not a valid email";
          }
          // return;
        });
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            resultDisplay.textContent = "Logging in . . .";
            window.open("edithome.html", "_self");
          } else {
            //return;
          }
        });

      }

      var exhibitsArray = [];
      var commentTextContent = [];
      //TODO: USE ARRAY TO HOLD EXHIBITS, USE DISPLAY: NONE TO HIDE NON-RELEVANT, USE SEARCHVALUE TO LOOK FOR MATCHES IN ANY CHILD NODE OF EXHIBITOBJECT
      function commentObject(title, timeStamp, flagged, commentText, commentName, fbID, img, commentKey){
        this.title = title;
        this.timeStamp = timeStamp;
        this.flagged = flagged;
        this.commentText = commentText;
        this.commentName = commentName;
        this.fbID = fbID;
        this.commentKey = commentKey;
        this.img = img;
      }
      // var tempFBID;
      // var tempExhKey;
      // firebaseRef.ref('exhibitKeys/').on('child_added', function(snapshot){
      //   tempFBID = snapshot.val().key;
      //   tempExhKey = snapshot.val();
      //   console.log('snapshot val' + tempExhKey);
      // });
      // var exhibitNameArray = ["cowell", "warburton", "permanent", "rotunda", "jbhouse", "sculpture"];
      // for(var i = 0; i < exhibitNameArray.length; i++){
      //   console.log(exhibitNameArray[i] + " " + i);
      firebaseRef.ref('exhibits').child("sculpture").once('value').then(function(snapshot){
        snapshot.forEach(function(childSnapshot){
          var keyID = childSnapshot.key;
          var key = childSnapshot.val().key;
          console.log('just the key: ' + key);
          console.log('keyID: ' + keyID);
          console.log('title from exhibit: ' + childSnapshot.val().title);
          var title = childSnapshot.val().title;
          var img = childSnapshot.val().exhibitImage;
          //var title = childSnapshot.
          firebaseRef.ref("exhibits").child("sculpture").child(keyID).child("comments").once("value").then(function(snapshot){
            snapshot.forEach(function(childSnapshot){
              console.log("this id" + keyID);
              var data = childSnapshot.val();
              console.log(data);
              var commentKey = childSnapshot.key;
              console.log("comment key: " + commentKey);
              //var title = firebaseRef.ref('exhibits/' + keyID).title;
              console.log("title: " + title );
              var name = data.name;
              console.log("name: " + name);
              var timeStamp = data.time;
              var text = data.comment;
              var flagged = data.flagged;
              var fbID = keyID;
              var newComment = new commentObject(title, timeStamp, flagged, text, name, fbID, img, commentKey);
              createCommentLink(newComment);
            });
          });
        });
      });
      firebaseRef.ref('exhibits').child("rotunda").once('value').then(function(snapshot){
        snapshot.forEach(function(childSnapshot){
          var keyID = childSnapshot.key;
          var key = childSnapshot.val().key;
          console.log('just the key: ' + key);
          console.log('keyID: ' + keyID);
          console.log('title from exhibit: ' + childSnapshot.val().title);
          var title = childSnapshot.val().title;
          var img = childSnapshot.val().exhibitImage;
          //var title = childSnapshot.
          firebaseRef.ref("exhibits").child("rotunda").child(keyID).child("comments").once("value").then(function(snapshot){
            snapshot.forEach(function(childSnapshot){
              console.log("this id" + keyID);
              var data = childSnapshot.val();
              console.log(data);
              var commentKey = childSnapshot.key;
              console.log("comment key: " + commentKey);
              //var title = firebaseRef.ref('exhibits/' + keyID).title;
              console.log("title: " + title );
              var name = data.name;
              console.log("name: " + name);
              var timeStamp = data.time;
              var text = data.comment;
              var flagged = data.flagged;
              var fbID = keyID;
              var newComment = new commentObject(title, timeStamp, flagged, text, name, fbID, img, commentKey);
              createCommentLink(newComment);
            });
          });
        });
      });
      firebaseRef.ref('exhibits').child("jbhouse").once('value').then(function(snapshot){
        snapshot.forEach(function(childSnapshot){
          var keyID = childSnapshot.key;
          var key = childSnapshot.val().key;
          console.log('just the key: ' + key);
          console.log('keyID: ' + keyID);
          console.log('title from exhibit: ' + childSnapshot.val().title);
          var title = childSnapshot.val().title;
          var img = childSnapshot.val().exhibitImage;
          //var title = childSnapshot.
          firebaseRef.ref("exhibits").child("jbhouse").child(keyID).child("comments").once("value").then(function(snapshot){
            snapshot.forEach(function(childSnapshot){
              console.log("this id" + keyID);
              var data = childSnapshot.val();
              console.log(data);
              var commentKey = childSnapshot.key;
              console.log("comment key: " + commentKey);
              //var title = firebaseRef.ref('exhibits/' + keyID).title;
              console.log("title: " + title );
              var name = data.name;
              console.log("name: " + name);
              var timeStamp = data.time;
              var text = data.comment;
              var flagged = data.flagged;
              var fbID = keyID;
              var newComment = new commentObject(title, timeStamp, flagged, text, name, fbID, img, commentKey);
              createCommentLink(newComment);
            });
          });
        });
      });
      firebaseRef.ref('exhibits').child("permanent").once('value').then(function(snapshot){
        snapshot.forEach(function(childSnapshot){
          var keyID = childSnapshot.key;
          var key = childSnapshot.val().key;
          console.log('just the key: ' + key);
          console.log('keyID: ' + keyID);
          console.log('title from exhibit: ' + childSnapshot.val().title);
          var title = childSnapshot.val().title;
          var img = childSnapshot.val().exhibitImage;
          //var title = childSnapshot.
          firebaseRef.ref("exhibits").child("permanent").child(keyID).child("comments").once("value").then(function(snapshot){
            snapshot.forEach(function(childSnapshot){
              console.log("this id" + keyID);
              var data = childSnapshot.val();
              console.log(data);
              var commentKey = childSnapshot.key;
              console.log("comment key: " + commentKey);
              //var title = firebaseRef.ref('exhibits/' + keyID).title;
              console.log("title: " + title );
              var name = data.name;
              console.log("name: " + name);
              var timeStamp = data.time;
              var text = data.comment;
              var flagged = data.flagged;
              var fbID = keyID;
              var newComment = new commentObject(title, timeStamp, flagged, text, name, fbID, img, commentKey);
              createCommentLink(newComment);
            });
          });
        });
      });
      firebaseRef.ref('exhibits').child("warburton").once('value').then(function(snapshot){
        snapshot.forEach(function(childSnapshot){
          var keyID = childSnapshot.key;
          var key = childSnapshot.val().key;
          console.log('just the key: ' + key);
          console.log('keyID: ' + keyID);
          console.log('title from exhibit: ' + childSnapshot.val().title);
          var title = childSnapshot.val().title;
          var img = childSnapshot.val().exhibitImage;
          //var title = childSnapshot.
          firebaseRef.ref("exhibits").child("warburton").child(keyID).child("comments").once("value").then(function(snapshot){
            snapshot.forEach(function(childSnapshot){
              console.log("this id" + keyID);
              var data = childSnapshot.val();
              console.log(data);
              var commentKey = childSnapshot.key;
              console.log("comment key: " + commentKey);
              //var title = firebaseRef.ref('exhibits/' + keyID).title;
              console.log("title: " + title );
              var name = data.name;
              console.log("name: " + name);
              var timeStamp = data.time;
              var text = data.comment;
              var flagged = data.flagged;
              var fbID = keyID;
              var newComment = new commentObject(title, timeStamp, flagged, text, name, fbID, img, commentKey);
              createCommentLink(newComment);
            });
          });
        });
      });
        firebaseRef.ref('exhibits').child("cowell").once('value').then(function(snapshot){
          snapshot.forEach(function(childSnapshot){
            var keyID = childSnapshot.key;
            var key = childSnapshot.val().key;
            console.log('just the key: ' + key);
            console.log('keyID: ' + keyID);
            console.log('title from exhibit: ' + childSnapshot.val().title);
            var title = childSnapshot.val().title;
            var img = childSnapshot.val().exhibitImage;
            //var title = childSnapshot.
            firebaseRef.ref("exhibits").child("cowell").child(keyID).child("comments").once("value").then(function(snapshot){
              snapshot.forEach(function(childSnapshot){
                console.log("this id" + keyID);
                var data = childSnapshot.val();
                console.log(data);
                var commentKey = childSnapshot.key;
                console.log("comment key: " + commentKey);
                //var title = firebaseRef.ref('exhibits/' + keyID).title;
                console.log("title: " + title );
                var name = data.name;
                console.log("name: " + name);
                var timeStamp = data.time;
                var text = data.comment;
                var flagged = data.flagged;
                var fbID = keyID;
                var newComment = new commentObject(title, timeStamp, flagged, text, name, fbID, img, commentKey);
                createCommentLink(newComment);
              });
            });
          });
        });
      //}

      // firebaseRef.ref('exhibits').on('child_added', function(snapshot){
      //   var snapshotKey = snapshot.key;
      //   console.log("snapshotKey: " + snapshotKey);
      //   var exhibits = snapshot.val();
      // //console.log('id: ' + tempFBID);
      //   var title = exhibits.title;
      //   var timeStamp = exhibits.timeStamp;
      //   var views = exhibits.views;
      //   var img = exhibits.exhibitImage;
      //
      //   var newExhibit = new exhibitObject(title, artist, timeStamp, views, img, snapshotKey);
      //   exhibitsArray.push(newExhibit);
      //
      //   createExhibitLink(newExhibit);
      //   console.log(exhibitsArray);
      //   //var artist = snapshot.val().artist;
      //   console.log(exhibits);
      //   console.log('title: ' + title);
      // });
      function getExhibitsArray(){
        return exhibitsArray;
      }
      var commentNum = 0;
      var trashIcon = '../images/icons/trash.png';
      function createCommentLink(comment){ //loop through array??
        var newSearchResult = document.createElement('div');
        var searchTable = document.getElementById("searchTable");
        var centerBox = document.getElementById("centerBox");

          //var newIndex = document.createElement('div')
        newSearchResult.setAttribute('class', 'searchResult');
        newSearchResult.setAttribute('id', 'commentLink'+commentNum);
        newSearchResult.innerHTML = "<a class='resultLink' href='editexhibit.html?id=" + comment.fbID + "'>" +
          "<div class='commentNameBox'><h2>" + comment.commentName + " </h2></div>" +
          "<div class='commentTextBox'><p>"+ comment.commentText + " </p></div>" +
          "<div class='timeBox'><h2>" + comment.timeStamp + " </h2></div>" +
          "<div class='viewsBox'><h2>" + comment.flagged + "</h2></div>" +
          //"<div class='titleBox'><h2>" + comment.title + "</h2></div>" +
          "</a>";

          var newDivBox = document.createElement("div");
          newDivBox.setAttribute("class", "imgBox");
          var newImgBox = document.createElement('img');
          newImgBox.setAttribute('id', 'exhibitImageBox' + commentNum);
          newImgBox.setAttribute('class', 'thumbnail');
          var storage = firebase.storage();
          var storageRef = storage.ref();

          var thisNum = commentNum;
          if(comment.img !=''){
            var spaceRef = storageRef.child(comment.img);
            storageRef.child(comment.img).getDownloadURL().then(function(url){
              var test = url;
              document.getElementById("exhibitImageBox" + thisNum).src = test;
            }).catch(function(error){

            });
          }


          newDivBox.appendChild(newImgBox);
          newSearchResult.appendChild(newDivBox);

          //console.log(exhibit.title + 'exhibitLink'+exhibitNum);
        var newButton = document.createElement('button');
        var textContent = newSearchResult.textContent;
        console.log(textContent);

        commentTextContent.push(textContent);
        newButton.setAttribute('class','delete');
        newButton.innerHTML = "<img class='icon' src='../images/icons/trash.png'>";
        newButton.onclick = function(){
          alertDelete(comment, thisNum);
        };
        newSearchResult.appendChild(newButton);
        commentNum++;
        searchTable.appendChild(newSearchResult);
        centerBox.appendChild(searchTable);
        console.log('link created');
      }
      function alertDelete(comment, num){
        console.log("CONFIRM DELETE?");
        console.log('commentLink'+num);
        var deleteConfirmation = confirm('Delete comment: ' + comment.commentText + '?'); //exhibit.title

        if(deleteConfirmation){
          console.log('commentLink'+num);
          document.getElementById("commentLink" + num).style.display='none';
          console.log('exhibit id: ' + comment.fbID);
          console.log('comment id: ' + comment.commentKey);
          firebaseRef.ref('exhibits/' + comment.fbID + '/comments/' + comment.commentKey).remove();
          //firebaseRef.ref(''+exhibit.fbID).parent.remove();
          //location.href = 'databaseExplorer.html';

        }
        else{
          return;
        }
      }

      // var app = angular.module("exhibitSearchList",[]); TODO: Figure out angular!
      // var angularExhibitsList = getExhibitsArray();
      // app.controller("exhibitController", function($scope){
      //   $scope.exhibitsArray = [
      //     {title: 'Guernica', artist: 'Pablo Picasso', timeStamp: '8/6/14, 3:01PM', views: 24, img: 'images/guernica.jpg'},
      //     {title: 'Las Meninas', artist: 'Pablo Picasso', timeStamp: '8/6/14, 12:04AM', views: 15, img: 'images/las_meninas.jpg'}
      //   ];
      // });
      // app.service('getExhibitList', function(){
      //   var exhibitListAngular = [];
      //   var firebaseRef = firebase.database();

      //   this.getList = function(){
      //     return exhibitListAngular;
      //   }
      // });
      // app.config(function(){
      //   var config = {
      //     apiKey: "AIzaSyCVFksGcDoYDk23wAG58XdYdfyDL7urzUY",
      //     authDomain: "learnfirebase-43e98.firebaseapp.com",
      //     databaseURL: "https://learnfirebase-43e98.firebaseio.com",
      //     storageBucket: "learnfirebase-43e98.appspot.com",
      //   };
      //   firebase.initializeApp(config);
      // });
      // app.controller("exhibitController", ["$scope", "$firebaseArray", function($scope, $firebaseArray){
      //   $scope.ref = firebase.database().ref();
      //   $scope.exhibitRef = $scope.ref.child("exhibits");
      //   $scope.exhibitsArray = $firebaseArray($scope.exhibitRef);
      // }]);

    </script>
    <div id="headBar">
      <a href="www.lunasphere.com"><img id="lunasphereLogo" src="../images/LogoTransparent.png" alt="Lunasphere"></a>
      <h1 id="pageTitle"> Comment moderator </h1>
      <a href="index.html"><img id="logoPageCreator" src="../images/tritonIcon.png" alt="triton"></a>
      <div id="navBar">
        <a class="navBarLink" href="edithome.html"> database home </a>
        <a class="navBarLink" href="databaseExplorer.html"> page editor </a>
        <a class="navBarLink" href="pagecreatorMobile.html"> page creator </a>
        <a class="navBarLink" href="commentExplorer.html"> comment moderator </a>
        <a class="navBarLink" href="editShowTitles.html"> edit show titles </a>
        <a class="navBarLink" href="index.html"> triton database home </a>
        <a class="navBarLink" href="lunasphere.html"> visit lunasphere </a>
      </div>
    </div>
    <div id="wrapper">
      <div id="centerBox">
        <!-- <h1> COMING SOON </h1> -->
        <!-- <div id='angularExhibits' ng-app="exhibitSearchList" ng-controller="exhibitController">
        <label> Search: <input ng-model='searchText' id="searchValue"></label>
        <table id='searchTextResults'>
          <tr><th>Title</th><th>Artist</th><th>Last edited</th><th>Views</th><th>Preview</th></tr>
          <tr ng-repeat="exhibitObject in exhibitsArray | filter:searchText">
            <td>{{exhibitObject.title}}</td>
            <td>{{exhibitObject.artist}}</td>
            <td>{{exhibitObject.timeStamp}}</td>
            <td>{{exhibitObject.views}}</td>
            <td><img src={{exhibitObject.img}} height='55px'></td>
          </tr>
        </table>
        </div> -->


        <button onclick="location.href='databaseExplorer.html'" id='addPage'>Return to exhibit explorer</button>
        <input type='text' id='searchValue' placeholder='       Search for existing exhibit...' onchange='updateSearch(event);'>
        <button id='addPage'>Search</button>
        <script>
          function updateSearch(event){
            console.log('change detected');
            console.log(commentTextContent);
            for(var i = 0; i < commentTextContent.length; i++){
              if(commentTextContent[i].toLowerCase().includes(event.target.value.toLowerCase())){
                console.log('found a match');
                var exhibit = document.getElementById("commentLink" + i);
                exhibit.style.display = 'block';
              }
              else{
                var exhibit = document.getElementById("commentLink" + i);
                exhibit.style.display = 'none';
              }
            }
          }
        </script>
        <div id="searchTable">
            <div id="categoryBar">

                <div class='commentNameBox'><h1> Name </h1></div>
                <div class='commentTextBox'><h1> Comment </h1></div>
                <div class='timeBox'><h1> Timestamp </h1></div>
                <div class='viewsBox'><h1> Flags </h1></div>

            </div>

      </div>
    </div>
  </div>
  <div id="footer">
    <div id="footerLinkBar">
      <a class="footerLinks" href="lunasphere.html"> about lunasphere </a>
      <a class="footerLinks" href="index.html"> triton database </a>
    </div>
    <div id="footerLogos">
      <h2 style="color: gray;">powered by <a class='h2Links' href='lunasphere.html'> LunaSphere </a> in conjunction with the <a class='h2Links' href='http://www.tritonmuseum.org'>Triton Museum of Art</a>, Santa Clara, CA</h2>
      <img src='../images/tritonIcon.png' id='logoPageCreatorFooter'></img>
      <img src='../images/LogoTransparent.png' id='lunasphereLogoFooter'></img>
    </div>
    <div id="credits"> <h3 style='color:gray;'>Copyright 2016: Nikolai Flowers and Khoi Le </h3> </div>
  </div>
  </body>
</html>
