<link rel="stylesheet" type="text/css" ng-href="../stylesheets/tritonMobileYES.css">
<div id="ListOfExhibits" style="padding-top: 50px">
  <div class="exhibitLink" ng-repeat="exhibit in ExhibitList">
    <a ng-href="#exhibit?0={{room}}&1={{exhibit.$id}}" onclick="newPage()">
      <!-- mobileIndex.html?id={{exhibit.$id}} -->
      <div class="colored linkBanner" style="background-color: {{ thisColor }}">
        <h3 class="linkCode"> {{exhibit.exhibitCode}}</h3>
        <h1 class="linkTitle"> {{exhibit.title}} - {{exhibit.artist}} </h1>
      </div>
      <img class="imageLink" id="{{exhibit.title}}" ng-if="imagesUpdated">
    </a>
  </div>
</div>
