<!DOCTYPE HTML>
<html>
<head>
  <!-- created by Khoi Le 2016 !-->
  <title> Triton Database Explorer </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/tritonExploreCSS.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="../images/tritonIconSmall.png">
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script src="../scripts/secret.js"> </script> <!--delete or replace with your own key !-->
  <script src="../scripts/config.js"> </script>
  <script src="../scripts/database.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
</head>
  <body ng-app="database">

    <div id="headBar">
      <a href="www.lunasphere.com"><img id="lunasphereLogo" src="../images/LogoTransparent.png" alt="Lunasphere"></a>
      <h1 id="pageTitle"> Edit Show Titles </h1>
      <a href="index.html"><img id="logoPageCreator" src="../images/tritonIcon.png" alt="triton"></a>
      <div id="navBar">
        <a class="navBarLink" href="edithome.html"> database home </a>
        <a class="navBarLink" href="databaseExplorer.html"> page editor </a>
        <a class="navBarLink" href="pagecreatorMobile.html"> page creator </a>
        <a class="navBarLink" href="commentExplorer.html"> comment moderator </a>
        <a class="navBarLink" href="editShowTitles.html"> edit show titles </a>
        <a class="navBarLink" href="index.html"> triton database home </a>
        <a class="navBarLink" href="lunasphere.html"> visit lunasphere </a>
      </div>
    </div>
    <div id= "wrapper" >

      <div class="bigdaddy" ng-controller="editShowTitles">
        <div class="babyform">


          <form id="editShowTitles">

            <label id="titleLabel">

            <div class="inputContainer">
                <div class="textContainer">

                  <h2> Cowell: </h2>
                </div>
              <input class="show" type="text" ng-model="cowellshowtitle" id="cowell" value="" placeholder="{{cowellshowtitle}}">
            </div>
            <label id="artistLabel">


            <div class="inputContainer">
              <div class="textContainer">
                <h2> Warburton: </h2>
              </div>
              <input class="show" type="text" ng-model="warburtonshowtitle" id="warburton" value="" placeholder="{{warburtonshowtitle}}">
            </div>


            <div class="inputContainer">
                <div class="textContainer">

                  <h2> Permanent: </h2>
                </div>
              <input class="show" type="text" ng-model="permanentshowtitle" id="permanent" value="" placeholder="{{permanentshowtitle}}">
            </div>
            <label id="artistLabel">


            <div class="inputContainer">
              <div class="textContainer">
                <h2> Sculpture: </h2>
              </div>
              <input class="show" type="text" ng-model="sculptureshowtitle" id="sculpture" value="" placeholder="{{sculptureshowtitle}}">
            </div>


            <div class="inputContainer">
                <div class="textContainer">

                  <h2> Rotunda: </h2>
                </div>
              <input class="show" type="text" ng-model="rotundashowtitle" id="rotunda" value="" placeholder="{{rotundashowtitle}}">
            </div>
            <label id="artistLabel">


            <div class="inputContainer">
              <div class="textContainer">
                <h2> Jamison: </h2>
              </div>
              <input class="show" type="text" ng-model="jbhouseshowtitle" id="jbhouse" value="" placeholder="{{jbhouseshowtitle}}">
            </div>

            <button class="update" id="updateButton" type="submit" ng-click="editShowTitlesPrivate()"> Save Private </button>
            <button class="update" id="updateButtonPublic" type="submit" ng-click="editShowTitlesPublic()"> Publish </button>
          </form>
        </div>

      <!-- Footer -->
      <div id="michelleFooter">
        <div id="footerLinkBar">
          <a class="footerLinks" href="lunasphere.html"> about lunasphere </a>
          <a class="footerLinks" href="index.html"> triton database </a>
        </div>
        <div id="footerLogos">
          <h2 style="color: gray;">powered by <a class='h2Links' href='lunasphere.html'> LunaSphere </a> in conjunction with the <a class='h2Links' href='http://www.tritonmuseum.org'>Triton Museum of Art</a>, Santa Clara, CA</h2>
          <img src='../images/tritonIcon.png' id='logoPageCreatorFooter'></img>
          <img src='../images/LogoTransparent.png' id='lunasphereLogoFooter'></img>
        </div>
        <div id="credits"> <h3 style='color:gray;'>Copyright 2016: Nikolai Flowers and Khoi Le </h3> </div>
      </div>

      </div> <!-- Close bigdaddy -->


    </div>
