<!-- <!DOCTYPE HTML>
<head>
  <title> Exhibit Mobile Swipe </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="../images/tritonIconSmall.png">
  <link rel="stylesheet" href="../stylesheets/tritonMobile.css">
  Include jQuery Mobile stylesheets
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  Include the jQuery library

  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="../slick/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="../slick/slick/slick-theme.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400" rel="stylesheet">
</head>
<body ng-app="mobileIndex">
  <div data-role="page" id="exhibit" >
    <div data-role="header" data-position="fixed" id="header">
      <a href="#sidebar" data-transition="overlay" class="ui-btn ui-btn-inline ui-icon-info ui-btn-icon-notext"></a>
      <h1 id="pageTitle"> Triton </h1>
      <a href="#keypad" data-transition="overlay" class="ui-btn ui-btn-inline ui-icon-grid ui-btn-icon-notext"></a>
    </div>
    <div data-role="panel" id="sidebar">
      <a href="mobileHome.html"> Home </a>
    </div>
    <div data-role="panel" id="keypad" data-position="right">
      <input type="number" placeholder="101">
    </div>
    <div data-role="main" class="ui-content" id="main1"  ng-controller="slideInfo"> -->
      <div width="100%" style="text-align: center" id="imgContainer">
        <h1>{{ title }}</h1>
        <img  id="image1">
        <audio controls id="exhibitAudio" ng-if="exhibitAudio"> No audio in this browser </audio>
      </div>

      <div id="slider" class="regular slider">
        <div>
          <h1 ng-bind="title">  </h1>
          <h3 ng-bind="slides[0]">  </h1>
        </div>
        <div>
          <h1 ng-bind="title">  </h1>
          <h3 ng-bind="slides[1]"></h1>
        </div>
        <div>
          <h1 ng-bind="title">  </h1>
          <h3 ng-bind="slides[2]">  </h3>
        </div>
        <div>
          <h1 ng-bind="title + ': Details'">  </h1>
          <table>
            <tr>
              <td ng-bind="'Title: ' + title"></td>
            </tr>
            <tr>
              <td ng-bind="'Artist: ' + artist"> </td>
            </tr>
            <tr ng-if="year">
              <td ng-bind="'Year: ' + year"> </td>
            </tr>
            <tr ng-if="media">
              <td ng-bind="'Media: ' + media"> </td>
            </tr>
            <tr ng-if="genre">
              <td ng-bind="'Genre: ' + genre"> </td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-controller="slideInfo" data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <h2> Comments </h2>
        <a href="#commentDialog" class="ui-btn "> Add a Comment </a>
        <div style="text-align: center" ng-repeat="comment in comments">
          <h3> <i> {{ comment.name }} says: </i> </h2>
          <h3> {{ comment.comment }} </h3>
          <p> {{ comment.time }} </p>
        </div>
      </div>
    </div>
    <!-- <div data-role="footer" style="text-align: center" >

    </div> -->
  <!-- </div> -->
  <div data-role="page" data-dialog="true" id="commentDialog" ng-controller="commentPost">
    <div data-role="header">
      <h1> New comment </h1>
    </div>
    <div data-role="main" class="ui-content">
      <form>
        <input id="name" ng-model="name" type="text" placeholder="Name: Anonymous" />
        <textarea id="comment" ng-model="comment" placeholder="Comment: I love the Triton, and this piece is fantastic." rows="5" columns="30"></textarea>
        <button ng-click="postComment()" class="ui-btn"> Post </button>
      </form>
    </div>
  </div>
  <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  Include the jQuery Mobile library
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  Slick slider
  <script type="text/javascript" src="../slick/slick/slick.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../scripts/mobileAngular.js"></script>
</body>
</html> -->
